.predictive-data-container {
    text-align: center;
    padding: 20px;
}

.plots-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.plot {
    width: 100%; /* Responsive image width */
    height: auto; /* Maintain aspect ratio */
    border: 1px solid #ddd; /* Optional border */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
}
